.container_menu {
  background-color: red;
}

.Menu_buttons {
  color: #3f85ec;
  position: absolute;
  margin: auto;
  top: 233px;
  left: 160px;
  /* display: grid; */
}

.middle {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  text-align: center;
}

.Menu_Message {
  display: grid;
  position: absolute;
  margin: auto;
  left: 500px;
  top: 270px;
}
.butt {
  font-size: 170%;
  color: #3f85ec;
  background-color: #000000;
  border-radius: 10px 10px;
  border-color: #12cdd4;
  box-shadow: 0px 0px 15px turquoise;
  border-style: inset;
  letter-spacing: 3px;
}
.butt:hover {
  box-shadow: 0px 0px 12px #3f85ec;
  cursor: pointer;
  transition: 0.1s ease-in;
}
