body.bodyHome {
  width: 100%;
  height: auto;
  background-color: #000000; /*Este es el elemento que se esta renderizando primero*/
  padding: 0;
  margin: 0;
  /*background-image: url("https://media1.giphy.com/media/CQmiWaZrl5TJrCLX9o/giphy.gif?cid=790b761184b8f4917fa145b67a0fd52d1299c77720015005&rid=giphy.gif&ct=s");
  */background-repeat: no-repeat;
  background-size: 600px;
  background-position: 800px 50px;
}
.divOr {
  margin: 0;
  margin-left: 26%;
  color: #3f85ec;
  width: max-content;
  position: absolute;
  margin-top: 0.45%;
  font-weight: bold;
  font-size: 130%;
}
.divLorem {
  text-align: center;
  margin-top: 5.5%;
  margin-right: 45%;
  float: right;
  width: max-content;
  font-size: 130%;
}
.lorem {
  color: #000000;
  font-weight: bold;
  margin: 0;
}

.parplorem {
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    text-shadow: 0px 0px 10px #05f7ff;
  }
  50% {
    text-shadow: 0px 0px 5px #12cdd4;
  }
  100% {
    text-shadow: 0px 0px 10px #05f7ff;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    text-shadow: 0px 0px 10px #05f7ff;
  }
  50% {
    text-shadow: 0px 0px 5px #12cdd4;
  }
  100% {
    text-shadow: 0px 0px 10px #05f7ff;
  }
}

@keyframes parpadeo {
  0% {
    text-shadow: 0px 0px 10px #05f7ff;
  }
  50% {
    text-shadow: 0px 0px 5px #12cdd4;
  }
  100% {
    text-shadow: 0px 0px 10px #05f7ff;
  }
}
