
.hoverLogin:hover {
  box-shadow: 0px 0px 12px #3f85ec;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.Register {
  margin-top: 3%;
  margin-left: 17.5%;
  font-size: 120%;
  padding-left: 2%;
  padding-right: 2%;
  color: #3f85ec;
  background-color: #000000;
  border-radius: 10px 10px;
  border-color: #12cdd4;
  box-shadow: 1px 1px 15px turquoise;
  display: block;
  /* position: absolute; */
  border-style: inset;
}
.Register:hover {
  box-shadow: 0px 0px 12px #3f85ec;
  cursor: pointer;
  transition: 0.1s ease-in;
}
