.container_Register {
  margin: auto;
}
.NewRegister {
  text-align: center;
  border: 2px solid #12cdd4;
  border-radius: 20px 20px;
  width: max-content;
  margin-left: 15%;
  padding: 2%;
  box-shadow: -20px -10px 150px rgba(18, 205, 215, 0.3);
}

.inputReg {
  margin: 0;
  margin-left: 18%;
  margin-top: 10%;
  display: block;
  border: none;
  border-radius: 20px 20px;
  outline-color: #12cdd4;
  box-shadow: 1px 1px 10px #12cdd4;
  text-align: center;
  font-size: 105%;
}

.inpname {
  /* margin-bottom: 15%; */
}

.inpLastName {
  /* margin-top: 15%; */
}

.inputinpEmail {
  /* margin-top: 30%; */
}

.inpNickName {
  /* margin-top: 45%; */
}

.inpDate {
  margin-left: 24%;
}

.RegButt {
  display: block;
  margin-top: 3%;
  margin-left: 39%;
  border-radius: 5px 5px;
  border-color: #12cdd4;
  cursor: pointer;
  background-color: #000000;
  color: #3f85ec;
  border-radius: 10%;
  border-color: #12cdd4;
  box-shadow: 0px 0px 5px turquoise;
}

.conectGoogle {
  margin-top: 5%;
  margin-bottom: 10%;
  border-radius: 5px 5px;
  border-color: #12cdd4;
  cursor: pointer;
  background-color: #000000;
  color: #3f85ec;
  border-radius: 10%;
  border-color: #12cdd4;
  box-shadow: 0px 0px 5px turquoise;
}

.conectFace {
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 5px 5px;
  border-color: #12cdd4;
  background-color: #000000;
  color: #3f85ec;
  cursor: pointer;
  border-radius: 10%;
  border-color: #12cdd4;
  box-shadow: 0px 0px 5px turquoise;
}

.conectGoogle:hover {
  transition: 0.3s ease;
  box-shadow: 0px 0px 5px #3f85ec;
}

.conectFace:hover {
  transition: 0.3s ease;
  box-shadow: 0px 0px 5px #3f85ec;
}
